<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/landing-page.css')}}"/>
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->

  </head>
  <body>

  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                   <img src="../static/img/logoICO.ico" width="50" height="50">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#page-top">yoAlquilo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Mapa</a>
                    </li>
                    <li>
                        <a href="#services">Alquileres</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Ingresar<span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Ingreso Usuarios</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Registrarse</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="box">
                        <div class="intro-message">
                            <h1>yoAlquilo</h1>
                            <h3>Pesca del Dorado 2016- Paso de la Patria</h3>
                            <hr class="intro-divider">
                            <center><h3>Resgistro</h3></center>
                            {{=form}}
                        </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    <!--footer-->
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Contáctenos</h2>
                    <hr>
                    <p>Si tiene alguna duda, comentario, sugerencias o inquietudes, escríbanos al nuestro e-mail o en nuestra Fan Page</p> <br><br>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-facebook fa-3x sr-contact"></i>
                    <p>yoAlquilo paso de la patria</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">yoalquilo@gmail.com</a></p>
                </div>
            </div>
        </div>
      <br><center> Copyright &copy; YoAlquilo 2016</center>
      <br>
  </footer>

<!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
   
  </body>
</html>

